---
created: {{ frontmatter.date }}
type: daily
author:
  - "[[최동인]]"
index:
  - "[[MOC Daily Notes]]"
---
#### [[{{ frontmatter.prev_date }} |◀︎]] {{ frontmatter.date }} [[{{ frontmatter.next_date }} |▶︎]]
---
## ==잡서


---
## 일정

> 일정이 자동으로 채워집니다.

---
## 할 일


---
## 회고


---
#### 생성
```dataview
list
from ""
where file.cday = date({{ frontmatter.date }}) AND !contains(file.folder, "2.OUTPUT/Daily")
```
#### 변형
```dataview
list
from ""
where file.mday = date({{ frontmatter.date }}) AND !contains(file.folder, "2.OUTPUT/Daily") AND file.cday != date({{ frontmatter.date }})
```
