# {{ event.title }}

{% if frontmatter.meeting_title is defined %}
> 일정: {{ frontmatter.meeting_title }}
{% if frontmatter.attendees is defined and frontmatter.attendees %}
> 참석자: {{ frontmatter.attendees | join(', ') }}
{% endif %}
{% if frontmatter.project is defined and frontmatter.project %}
> 프로젝트: [[{{ frontmatter.project }}]]
{% endif %}
{% elif frontmatter.people is defined and frontmatter.people %}
{% for person in frontmatter.people %}
> 통화 상대: {{ person }}
{% endfor %}
{% endif %}
{% if frontmatter.file_name is defined %}
> 파일: `{{ frontmatter.file_name }}`
{% endif %}
{% if frontmatter.recorded_at is defined %}
> 녹음 시각: {{ frontmatter.recorded_at }}
{% endif %}
{% if frontmatter.duration_sec is defined %}
> 길이: {{ frontmatter.duration_sec }}초
{% endif %}
{% if frontmatter.file_size_mb is defined %}
> 크기: {{ frontmatter.file_size_mb }} MB
{% endif %}

{% if frontmatter.keywords is defined %}
## 키워드

{% for kw in frontmatter.keywords %}{{ kw }} {% endfor %}

{% endif %}
{% if event.summary %}
## 요약

{{ event.summary }}

{% endif %}
{% if frontmatter.transcript is defined and frontmatter.transcript %}
## 전사 전문

{{ frontmatter.transcript }}

{% endif %}
